@attribute [Route($"{Constants.ClientRoutes.PaymentSuccessBase}/{{SessionId}}")]
@attribute [Route($"{Constants.ClientRoutes.PaymentSuccess}/{{SessionId}}")]

<div class="successfully-paid-container">
    <div class="success-wrapper">
        <div class="success-icon">
            <div class="icon">
                <img src="img/svg/payment/success.svg" />
            </div>
        </div>
        <div class="success-info">
            <div class="success-title">Payment Success</div>
            <div class="success-description">Payment was successful, thank you for subscribing</div>
            <div class="to-home-button">
                <button class="btn1" @onclick="() => NavigationManager.NavigateTo(Constants.ClientRoutes.Subscriptions)">Go to home</button>
            </div>
        </div>
    </div>
</div>

<style>
    .body-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>