@using Shared.Constants

<div class="footer-container">
    <div class="privacy hide-for-mobile">
        <a href="@Constants.ClientRoutes.PrivacyPolicy"><b>Privacy Policy</b></a> | <a href="@Constants.ClientRoutes.TermsOfUse"><b>Terms Of Use</b></a> for our website.
    </div>
    <div class="logo">
        <img width="70" src="_content/StripeIntegration.Components/img/svg/full-logo.svg" />
    </div>
    <div class="rights">

        <div class="privacy show-for-mobile">
            <a href="@Constants.ClientRoutes.PrivacyPolicy"><b>Privacy Policy</b></a> | <a href="@Constants.ClientRoutes.TermsOfUse"><b>Terms Of Use</b></a> for our website.
        </div>

        <div class="copyright">
            Copyright © 2024. All Rights Reserved
        </div>

    </div>
</div>