@attribute [Route(Constants.ClientRoutes.ForgotPassword)]

@layout EmptyLayout

<div class="forgot-password-page-container">

    <div class="left-logo">
        <img src="img/sign-in-logo.svg"/>
    </div>

    <div class="form-wrapper @(_serverException is not null ? "error" : "")">

        <div class="logo">
            <img @onclick="() => NavigationManager.NavigateTo(Constants.ClientRoutes.Dashboard)" 
                 class="noselectable-text" 
                 src="_content/StripeIntegration.Components/img/svg/full-logo.svg"/>
        </div>

        <div class="header noselectable-text">Recover the password!</div>
        <div class="description noselectable-text">
            If you've forgotten your password and can't log in, don't worry - we can help you reset it.
        </div>

        <div class="image" >
            <img src="img/sign-in-logo.svg"/>
        </div>

        <div class="field-wrapper">

            <div class="line email" style="@($"background: {GetEmailErrorBackground()};")">
                <div class="icon-wrapper">
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.9583 26.4793H9.04165C5.16665 26.4793 2.58331 24.5418 2.58331 20.021V10.9793C2.58331 6.4585 5.16665 4.521 9.04165 4.521H21.9583C25.8333 4.521 28.4166 6.4585 28.4166 10.9793V20.021C28.4166 24.5418 25.8333 26.4793 21.9583 26.4793Z" stroke="#858585" stroke-width="1.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.9584 11.625L17.9154 14.8542C16.585 15.9133 14.4021 15.9133 13.0717 14.8542L9.04169 11.625" stroke="#858585" stroke-width="1.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>

                <div class="input-wrapper">
                    <input
                        type="email"
                        placeholder="Enter your email"
                        @onkeydown="OnKeyDown"
                        @bind-value="_forgotPasswordRequestModel.Email"/>
                </div>
            </div>

        </div>

        <div class="validation-error-message noselectable-text">
            @(_serverException is not null ? (_serverException.ErrorMessages.Count > 0 ? _serverException.ErrorMessages[0] : $"Unknown Error")  : "")
        </div>

        <div @onclick="OnForgotPasswordAsync" class="forgot-password">
            <div class="text noselectable-text">
                @if (_forgetPasswordLoading)
                {
                    <label>Loading...</label>
                }
                else
                {
                    <label>Send new password</label>
                }
            </div>
        </div>

        <div class="sign-in-wrapper">
            <div class="text noselectable-text">Already have a profile?</div>
            <div @onclick="() => NavigationManager.NavigateTo(Constants.ClientRoutes.SignIn)" class="button noselectable-text">Sign in</div>
        </div>
    </div>
</div>