.sign-in-page-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 55px;
    padding-right: 80px;
    gap: 60px;
    min-height: 100%;
    /*position: absolute;*/
    top: 0;
}

.sign-in-page-container > .left-logo {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-page-container > .left-logo > img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.sign-in-page-container > .form-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sign-in-page-container > .form-wrapper > .logo > img {
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .header {
    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #292D32;
    padding-top: 26px;
    padding-bottom: 16px;
}

.sign-in-page-container > .form-wrapper > .description {
    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292D32;
}

.sign-in-page-container > .form-wrapper > .image {
    display: none;
}

.sign-in-page-container > .form-wrapper > .field-wrapper {
    width: 100%;
    height: 159px;
    display: flex;
    flex-direction: column;
    background: #FDFDFD;
    box-shadow: 0px 4px 8px rgba(190, 190, 190, 0.2);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 32px;
    position: relative;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .delimiter {
    position: absolute;
    left: 0;
    top: calc(50% - 0.5px);
    width: 100%;
    height: 1px;
    background: #EEEEEE;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line {
    width: 100%;
    height: 50%;
    display: flex;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .icon-wrapper {
    width: 87px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper {
    flex: 1 1;
    display: flex;
    align-items: center;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper > input {
    width: calc(100% - 30px);
    background: transparent !important;
    border: none;
    outline: none;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292D32;
    caret-color: #292D32;
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper > input::placeholder {
    color: #858585;
    caret-color: #858585;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill,
.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill:hover,
.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill:focus,
.sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 60px #FDFDFD inset !important;
    background-color: transparent !important;
    background-clip: content-box !important;
}

.sign-in-page-container > .form-wrapper.error > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill,
.sign-in-page-container > .form-wrapper.error > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill:hover,
.sign-in-page-container > .form-wrapper.error > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill:focus,
.sign-in-page-container > .form-wrapper.error > .field-wrapper > .line > .input-wrapper > input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 60px #F7F1F1 inset !important;
    background-color: transparent !important;
    background-clip: content-box !important;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line.password > .input-wrapper > input {
    width: calc(100% - 64px);
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line.password > .input-wrapper > .eye {
    flex: 1 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line.password > .input-wrapper > .eye > div {
    margin-left: 15px;
}

.sign-in-page-container > .form-wrapper > .field-wrapper > .line.password > .input-wrapper > .eye > div > svg {
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .validation-error-message {
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    transition: all 0.1s ease;

    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #E74646;
    margin-top: 12px;
    overflow: hidden;
}

.sign-in-page-container > .form-wrapper.error > .validation-error-message {
    height: 20px;
}

.sign-in-page-container > .form-wrapper > .forgot-password {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-page-container > .form-wrapper > .forgot-password > .text {
    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #292D32;
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .sign-in {
    width: 100%;
    height: 53px;
    background: #5DB276;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .sign-in > .text {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .sign-in > .text label:hover{
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .social-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in-page-container > .form-wrapper > .social-wrapper > .social {
    width: 100%;
    height: 53px;
    margin-top: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .social-wrapper > .social > .icon {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 2px;
}

.sign-in-page-container > .form-wrapper > .social-wrapper > .social.github > .icon {
    width: 19px;
    height: 19px;
    background: url(img/auth/github-icon.svg) center no-repeat;
    background-size: contain;
}

.sign-in-page-container > .form-wrapper > .social-wrapper > .social > .text {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #434343;
    cursor: pointer;
}

.sign-in-page-container > .form-wrapper > .sign-up-wrapper {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    display: flex;
}

.sign-in-page-container > .form-wrapper > .sign-up-wrapper > .text {
    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    color: #434343;
}

.sign-in-page-container > .form-wrapper > .sign-up-wrapper > .button {
    margin-left: 16px;
    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    color: #5DB276;
    cursor: pointer;
}

@media (min-width: 100px) and (max-width: 992px), (max-width: 1025px) and (max-height: 602px) {

    .sign-in-page-container {
        padding: 0;
        justify-content: center;
        position: absolute;
        top: 0;
    }

    .sign-in-page-container > .left-logo {
        display: none;
    }

    .sign-in-page-container > .form-wrapper {
        width: 100%;
        align-items: center;
        padding: 44px 20px;
    }

    .sign-in-page-container > .form-wrapper > .logo {
        width: 100%;
    }

    .sign-in-page-container > .form-wrapper > .header {
        font-size: 30px;
        line-height: 36px;
        padding-top: 24px;
    }

    .sign-in-page-container > .form-wrapper > .description {
        font-size: 14px;
        line-height: 17px;
    }

    .sign-in-page-container > .form-wrapper > .image {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .sign-in-page-container > .form-wrapper > .image > img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .sign-in-page-container > .form-wrapper > .sign-up-wrapper {
        position: static;
        transform: none;
        margin-top: 40px;
    }

    .sign-in-page-container > .form-wrapper > .social-wrapper {
        flex-direction: row;
        gap: 10px;
    }

    .sign-in-page-container > .form-wrapper > .social-wrapper > .social {
        width: 50%;
    }

    .sign-in-page-container > .form-wrapper > .social-wrapper > .social > .text {
        font-size: 12px;
        line-height: 20px;
    }

    .sign-in-page-container > .form-wrapper > .sign-in > .text {
        font-size: 16px;
        line-height: 20px;
    }

    .sign-in-page-container > .form-wrapper > .forgot-password > .text {
        font-size: 14px;
        line-height: 17px;
    }

    .sign-in-page-container > .form-wrapper > .field-wrapper > .line > .input-wrapper > input {
        font-size: 14px;
        line-height: 17px;
    }

    .sign-in-page-container > .form-wrapper > .field-wrapper {
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .sign-in-page-container > .form-wrapper > .image {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .sign-in-page-container > .form-wrapper {
        padding-top: 20px;
    }
}