@attribute [Route(Constants.ClientRoutes.Dashboard)]

<div class="home-container">
    Main Page
</div>

<style>
    .main-layout-container > .main-content > .page-container > .body-container {
        height: 100%;
    }
</style>